body{
background-color:bisque;
align-items: center;
justify-items: center;
text-align: center;
}

.page1{
    margin-right: 60px;
    padding: 10px 20px 10px 20px;
    border-radius: 15px;
    background-color: rgb(139, 8, 8);
    color:bisque
}

.page2{
    padding: 10px 20px 10px 20px;
    border-radius: 15px;
    background-color: rgb(139, 8, 8);
    color:bisque
}

h3{
    color: rgb(139, 8, 8);
    text-shadow: 0px 1px rgba(0, 0, 0, 0.5);
}

h2{
     color: rgb(139, 8, 8);
     text-shadow: 0px 1px rgba(0, 0, 0, 0.5);
}

h4{
     color: rgb(139, 8, 8);
     text-shadow: 0px 1px rgba(0, 0, 0, 0.5);
}

.box{
    margin-top: 200px;
}
